<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-model</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app"></div>

  <script>
    Vue.createApp({
      data() {
        return {
          inputValue: '',
          list: []
        }
      },
      methods: {
        handleBtnClick() {
          this.list.push(this.inputValue)
          this.inputValue = ''
        }
      },
      template: `
        <div>
          <input v-model="inputValue"/>
          <button @click='handleBtnClick()'>增加</button>
          <ul>
            <li v-for="(item,index) in list">{{item}}</li>  
          </ul>
        </div>`
    }).mount('#app')
  </script>
</body>

</html>